.aside {
  width: fit-content;
  height: 100%;
  background-color: #1f1d2b;
  color: #ea7c69;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 16px;
}

.aside__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside__logo {
  width: 56px;
  height: 56px;
  background-color: rgb(235, 150, 106, 0.25);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.aside__logo:hover {
  background-color: rgb(235, 150, 106, 0.5);
}

.navbar__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.navbar__list-link {
  width: 56px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  transition-property: background-color, color;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar__list-link:hover {
  background-color: #ea7c69;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(234, 124, 105, 0.32);
}

.aside__actions {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.aside__actions-button.menu {
  height: 56px;
  background: #ea7c69;
  color: #fafafa;
  box-shadow: 0 8px 24px 0 rgba(234, 124, 105, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 14px;
  border-radius: 8px;
}

.aside__actions-button.sign-out {
  width: 56px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  transition-property: background-color, color;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.aside__actions-button.sign-out:hover {
  background-color: #ea7c69;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(234, 124, 105, 0.32);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex: 1 0 auto;
  margin-left: 88px;
}

.section__one-content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.section__one-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.section__one-information {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.section__one-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}

.section__one-text {
  color: #e0e6e9;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.section__one-input {
  width: 220px;
  height: 48px;
  background-color: #2d303e;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #393c49;
}

.section__one-input::placeholder {
  color: #abbbc2;
}

.section__one-bottom {
  display: flex;
  align-items: center;
  column-gap: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid #393c49;
  white-space: nowrap;
  overflow-x: auto;
}

.section__one-button {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section__one-button:hover {
  color: #ea7c69;
}

.section__one-button::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ea7c69;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(24px);
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section__one-button:hover::before {
  width: 50%;
}

.section__two-content {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.section__two-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.section__two-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px;
}

.section__two-item {
  height: 240px;
  background-color: #1f1d2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  row-gap: 16px;
  padding: 30px;
  border-radius: 16px;
}

.section__two-image {
  margin-top: -80px;
}

.section__two-information {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.section__one-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.section__two-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.section__two-text {
  color: #abbbc2;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
