@media (max-width: 768px) {
  .aside {
    width: 100%;
    height: fit-content;
  }

  .aside__content {
    flex-direction: row;
  }

  .aside__actions-button.menu {
    display: inline-flex;
  }

  .navbar {
    width: 100%;
    height: calc(100% - 88px);
    background-color: #1f1d2b;
    color: #ea7c69;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 100%;
    z-index: 50;
    padding: 16px;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navbar.active {
    left: 0;
  }

  .main {
    margin-left: 0;
    margin-top: 88px;
  }

  .section__one-top {
    flex-direction: column;
    align-items: stretch;
    row-gap: 32px;
  }

  .section__one-input {
    width: 100%;
  }

  .section__two-block {
    grid-template-columns: 1fr;
  }
}
